body {
    background-image: url("../image/Woman.jpg");
    background-color: rgb(248, 248, 248);
    font-family: 'Poppins';
}

#container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    align-items: center;
}

#form-wrapper {
    display: flex;
    flex-direction: column;

    max-width: 400px;
    width: 100%;
}

#form-imc{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.input {
    position: relative;
    width: 90%;
    border-radius: 5px;
    height: 20px;
    padding: 10px;
    border: none;
    max-width: 600px;
    width: 100%;
    background-color: #3333;
}


.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10px;

}

.input-container label {
    display: flex;
    margin-bottom: 5px;
    color: rgb(151, 151, 151);
}

.button {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 81, 0);

    transition: all 0.3s ease;

    border: none;
    width: 100%;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(214, 86, 0);
}

#button-container {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 10px;
}

#info-container {

    max-width: 400px;
    width: 100%;
}

#table-container table,th, td{

    width: 35%;
    overflow:hidden;
    border-radius: 1%;
    background-color: rgba(255,99, 71,0.2);
    border: 1px solid rgb(255, 255, 255) ;
    border-collapse: collapse ;
    text-align: center;
    margin:auto;
}


h1 {
    text-align: center;
}
h3 {
    text-align: center;
    font-weight: normal;
    margin-top: -30px;
}
